*{
    margin: 0;
    padding:0
}
html,body{
    width: 100%;
    height:100%;
    font-family: "Microsoft Yahei", Arial, SimSun;
    overflow: hidden;
}
#main{
    width: 729px;
    height: 1104px;
    overflow: hidden;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -364px;
    -webkit-transform-origin:top;
    transform-origin: top;
}
.music{
    position: absolute;
    top:30px;
    right:80px;
    width:60px;
    height:60px;
    background: url(images/normalmusic.svg) no-repeat center center;
    z-index: 10;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
#list{height: 100%}
#list li{
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
}
#list li.zIndex{
    z-index: 5;
}
#list li:nth-child(1){
    background-image:url(images/bg.png) ;
}
#list li:nth-child(2){
    background-image:url(images/3.png) ;
}
#list li:nth-child(3){
    background-image:url(images/4.jpg) ;
}
#list li:nth-child(4){
    background-image:url(images/S.jpg) ;
}
#list li:nth-child(5){
    background:#fff ;
}
.a1 {
    position: absolute;
    bottom:50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.a1 div:nth-child(1){
    margin:8% auto;
    width:400px;
    height:300px;
    line-height: 265px;
    text-align: center;
    font-size: 50px;
    background: url(images/aa.png) no-repeat center;
    background-size: 100%;
}
.a1 div:nth-child(2){
    margin:-100px auto;
    width:300px;
    height:300px;
    line-height: 300px;
    border:2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 5px 20px #ccc;
}
.a1 div:nth-child(3){
    width:300px;
    height:60px;
    line-height: 60px;
    border:3px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 20px #ccc;
    position: absolute;
    top:170%;
    left:50%;
    margin-left:-150px;
}
.a2 .computer{
    margin:58% auto;
    width:250px;
    height:250px;
    background: url(images/computer.png)no-repeat center center;
    border-radius: 50%;
}
.a2 p{
    width: 120px;
    height: 120px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -60px;
    margin-top: -60px;
    border-radius: 50%;
    opacity: 0;
}
.a2 p:nth-child(1){
    background: url(images/chrome.png) no-repeat center;
    background-size: 100%;
}
.a2 p:nth-child(2){
    background: url(images/safari.png) no-repeat center;
    background-size: 100%;
}
.a2 p:nth-child(3){
    background: url(images/firefox.png) no-repeat center;
    background-size: 100%;
}
.a2 p:nth-child(4){
    background: url(images/opera.png) no-repeat center;
    background-size: 100%;
}
.a2 p:nth-child(5){
    background: url(images/ie.png) no-repeat center;
    background-size: 100%;
}
.a2 p:nth-child(6){
    background: url(images/fade.png) no-repeat center;
    background-size: 100%;
}
#a2 p {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition: 1s;
    transition: 1s;
    opacity:1;
}
#a2 p:nth-child(1){
    left: 50%;
    top: 28%
}
#a2 p:nth-child(2){
    left: 20%;
    top: 40%
}
#a2 p:nth-child(3){
    left: 80%;
    top: 40%
}
#a2 p:nth-child(4){
    left: 20%;
    top: 60%
}
#a2 p:nth-child(5){
    left: 80%;
    top: 60%
}
#a2 p:nth-child(6){
    left: 50%;
    top: 72%
}

.a3 div{
    position: absolute;
    top:0;
    left:0;
    width:729px;
    height:1104px;
    background: url(images/tre.png)no-repeat center center;
    background-size: 100%;

}
.a3 p{
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    border:1px solid #fff;
    border-radius: 50%;
    background: #05b600;
    color: #fff;
    position: absolute;
}
.a3 p:nth-of-type(1){
    left:22%;
    top:53%;
}
.a3 p:nth-of-type(2){
    left:60%;
    top:58%;
}
.a3 p:nth-of-type(3){
    left:15%;
    top:68%;
    width: 260px;
    height: 100px;
}
.a3 p:nth-of-type(4){
    left:60%;
    top:75%;
}

.a4 p{
    margin:4% auto;
    width:81%;
    border-radius: 30px;
}
.a4 p:nth-of-type(1){
    height:300px;
    line-height: 300px;
    text-align: center;
    color:#fff;
    font-size: 50px;
    background: #ff6700;
}

.a4 p:nth-of-type(2){
    height:350px;
    background: url(images/d.png) no-repeat 0 54%;
    background-size: cover;
}
.a4 p:nth-child(3){
    height:350px;
    background: url(images/e.png) no-repeat 0 80%;
    background-size: cover;
}

.a5 div{
    position: absolute;
    top:25%;
    left:15%;
    width:400px;
    height:577px;
    background: url(images/link.png) no-repeat center center;
}
.a5 p{
    width:350px;
    height:50px;
    line-height: 50px;
    text-align: center;
    color:white;
    font-size: 30px;
    border-radius: 10px;
}
.a5 p:nth-of-type(1){
    position: absolute;
    top:35%;
    left:40%;
    background: #f08519;
    -webkit-animation:fadeInRight 1s both 0.75s;
    animation:fadeInRight 1s both 0.75s;
}
.a5 p:nth-of-type(2){
    position: absolute;
    top:44%;
    left:40%;
    background: #1b74ab;
    -webkit-animation:fadeInRight 1s both 1s;
    animation:fadeInRight 1s both 1s;
}
.a5 p:nth-of-type(3){
    position: absolute;
    top:53%;
    left:40%;
    background: #e8422f;
    -webkit-animation:fadeInRight 1s both 1.5s;
    animation:fadeInRight 1s both 1.5s;
}
.a5 p:nth-of-type(4){
    position: absolute;
    top:63%;
    left:40%;
    background: #acce22;
    -webkit-animation:fadeInRight 1s both 2s;
    animation:fadeInRight 1s both 2s;
}
.a5 p:nth-of-type(5){
    height:100px;
    line-height: 100px;
    font-size: 40px;
    position: absolute;
    top:83%;
    left:25%;
    background: red;
    border-radius:50%;
    -webkit-animation:lightSpeedIn 1s both 3s;
    animation:lightSpeedIn 1s both 3s;
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}


